/* Style général du site */

body {
  font-family: 'Montserrat', sans-serif;
  }



/* Style barre de navigation */
 
.nav-link {
  color: rgb(91,138,114);
}

.nav-link:hover {
  color: rgb(70, 79, 65);
  font-style: italic;
}
  
.active {
  text-decoration: underline;
  text-transform: uppercase;
  font-style: italic;
}

/* Style pour evenements.html */

.card {
  width: 28rem;
  border-radius: 20px;
}

.card-img-top {
  border-radius: 20px;
}

.atelier {
  list-style: circle;
}

/* Style pour contact.html */

form {
  background-color: rgb(191,203,168);
  border: 2px solid rgb(91,138,114);
  border-radius: 20px;
}


