/* Style général du site */

body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(191, 203, 168, 0.363);
  }

h2 {
  text-decoration: underline;
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(91,138,114);
}

h3::first-letter {
  text-decoration: underline rgb(91,138,114);
}

/* Style barre de navigation */
 
.nav {
  background: rgb(91,138,114);
}

.nav-link {
  color: rgb(191, 203, 168);
}

.nav-link:hover {
  color: rgb(70, 79, 65);
  font-style: italic;
}
  
a.active {
  text-decoration: underline;
  font-style: italic;
}

/* Style pour index.html */

.card {
  width: 28rem;
  border-radius: 20px;
  border: 2px solid rgb(91,138,114);
}

/* Style pour evenements.html */

.carousel-item {
  text-align: center;
}

.card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.atelier {
  list-style: circle;
}

.visually-hidden {
  color: black;
  font-weight: bold;
}

/* Style pour contact.html */

form {
  background-color: rgb(191,203,168);
  border: 2px solid rgb(91,138,114);
  border-radius: 20px;
}

/* Style pour le footer */

footer {
  background: rgb(91,138,114);
  color: rgb(191, 203, 168);
}